.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.button {
  padding: 8px 16px;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  transition: 300ms ease;
  background-color: #bbb;
  border: 1px solid #bbb;
  cursor: pointer;
}
.button:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
}
.notice {
  padding: 8px;
  background-color: #ccc;
  border-radius: 5px;
}
